<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main{
        width: 100%;
        height: 500px;
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    .main ul, .main li,.main h1{
        margin: 10px;
        padding: 0px;
        
    }
    .main h1{
        text-align: center;
        color:aqua;
        position: absolute;
        top: 100px;
        left: 30%;
        width: 400px;
        height: 200px;
    }
    .main ul{
        list-style: none;
        position: absolute;
        top: 150px;
        left: 35%;
        width: 400px;
        height: 200px;
        cursor: pointer;
    }
    .main li{
        position: relative;
        top: 20px;
        left: 20px;
        clear: both;
        width: 400px;
        height: 30px;
        border: none;
        
    }
    .main li input{
        width: 250px;
        height: 30px;
        border: 1px solid white;
        border-radius: 5px;
    }
    .main li #login {
        color: aqua;
    }
    .main li a{
        width: 150px;
        height: 30px;
        float: left;
        text-decoration: none;
        color: aqua;
    }
</style>
<body>
    
    <div class="main">
        <h1>Login</h1>
        <form action="/home/login" method="post">
            <ul>
                <li>
                    <input type="text" name="email" id="email" placeholder="email">
                </li>
                <li>
                    <input type="text" name="password" id="password" placeholder="password">
                </li>
                <li>
                    <input id="login" type="submit" value="Login">
                </li>
                <li>
                    <a href="/home/create">Create a account</a>
                    <a href="/home/password/reset">Forgot a password</a>
                </li>
            </ul>
            
        </form>
    </div>
</body>
</html>